<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>

<body>
	<nav class="vt323-regular">
		<a href="/bundles">Community Center Bundles</a>
		<% if (user) { %>
		  <a href="/Items/add"	>
			  Add Item</a>
		  <a href="/bundles/add" >Add Bundle</a>
		  <a href="/logout">Log Out</a>
		<% } else { %>
		  <a href="/auth/google" class="login">Log In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
		<% } %>
	  </nav>
	<main>