body {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  background-image: url('https://raw.githubusercontent.com/redhedredemption/-project-2-stardew-tracker/main/public/images/Stardew-Background.png');
  background-size: cover, auto; 
  background-position: center; 
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

